/* --- Variables de Branding (Paleta de Colores) --- */
:root {
  --color-primario: #008080;        /* Verde Azulado Fuerte */
  --color-secundario: #5EDBC8;      /* Verde Agua Claro */
  --color-terciario: #A9E1D2;       /* Menta/Acento (Fondo sutil) */
  --color-texto-principal: #343A40; /* Gris Oscuro */
  --color-texto-acento: #673AB7;    /* Púrpura/Violeta */
  --color-blanco: #FFFFFF;
  --color-fondo-gris: #F8F9FA;

  --font-display: 'Dancing Script', cursive;
  --font-body: 'Poppins', sans-serif;
}

/* --- Configuración Base --- */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  color: var(--color-texto-principal);
  background-color: var(--color-fondo-gris);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Clase para títulos decorativos */
.titulo-elegante {
  font-family: var(--font-display);
  color: var(--color-primario);
}

/* Reset básico */
*, *:before, *:after {
  box-sizing: inherit;
}
