<header class="navbar">
  <div class="contenedor-navbar">
    <div class="logo">
      <span class="titulo-elegante">Psyché</span>
      <span class="subtitulo">Bienestar Emocional</span>
    </div>

    <nav class="menu">
      <a routerLink="/" routerLinkActive="activo">Inicio</a>
      <a routerLink="/servicios" routerLinkActive="activo">Servicios</a>
      <a routerLink="/nosotros" routerLinkActive="activo">Nosotros</a>
      <a routerLink="/contacto" routerLinkActive="activo" class="boton-contacto">Contacto</a>

    </nav>
  </div>
</header>